* {
  box-sizing: border-box;
}

.cakebook-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cakebook-container .logo{
  background-color:rgb(253, 212, 229);
  border: none;
}

.cakebook-container h1 {
  display: flex;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  color: rgb(255, 136, 187);
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
}

.cakebook-container .header {
  background-color: rgb(253, 212, 229);
  position: fixed;
  width: 100%;
}

.cakebook-container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 0.5em;
}

.cakebook-container .signOut {
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.cakebook-container .btn-signOut {
  display: flex;
  
}
.signOut{
  font-size: 1.2em;
}

.cakebook-container .containerTimeline {
  display: grid;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6em;
}

.cakebook-container .myPosts {
  display: flex;
  margin-bottom: 2em;
  background-color: rgb(250, 250, 245);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.8rem;
  padding: 0.5rem 1.25rem;
  flex-direction: column;
  font-size: 1em;
  width: 22em;
}

.cakebook-container .post{
  display: flex;
  margin-bottom: 1em;
  background-color: rgb(250, 250, 245);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.8rem;
  padding: 0.5rem 1.25rem;
  flex-direction: column;
  font-size: 1em;
  width: 22em;
}

.cakebook-container .text-post {
  display: flex;
  margin-top: 3ems;
  margin-bottom: 0.5em;
  background-color: beige;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.8rem;
  padding: 0.5rem 1.25rem;
  flex-direction: column;
  font-size: 1em;
  width: 22em;
}

.modal-deletePost {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.modal-deletePost {
  display: none;
}

.modal-deletePost .modal-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 18px;
  border-radius: 0.4rem;
  border: 1px solid rgba(247, 168, 202, 0.8);
  width: 20em;
}

.closed-modal {
  color:  rgba(247, 168, 202, 0.8);
  font-size: 16px;
  font-weight: bold;
  background: none;
  border: none;
}

.closed-modal:hover {
  color: rgb(253, 212, 229);
  cursor: pointer;
}

.modal-title{
  font-weight: 700;
}

.close-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-text{
  display: flex;
  flex-direction: column;
}

.btn-modal{
  display: flex;
  justify-content: right;
}

.delete-post:hover {
  color: rgb(253, 212, 229);
  cursor: pointer;
}

.delete-post {
  color: rgba(0, 0, 0, 0.6);
  background: none;
  border-radius: 1.5em;
  background-color: rgba(247, 168, 202, 0.8);
  padding: 0.6em 1.5em;
  border: none;
}

.header-post {
  display: flex;
}

.img-perfil {
  margin-right: 0.5em;
}

.nav-myPost {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 0%;
  margin-bottom: 0.5em;
  padding-left: 0;
  gap: 0.5em;
}

.div-like {
  display: flex;
  align-items: center;
}

.i-like:hover {
  color: rgb(212, 23, 105);
  cursor: pointer;
}

.i-public:hover {
  color: rgb(212, 23, 105);
  cursor: pointer;
}

.postBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

#publicar {
  margin-left: 3.5em;
}

.cakebook-container .imgUser {
  height: 2.2em;
  width: 2.2em;
}

.cakebook-container .time{
  font-size: 0.6em;
  color: rgb(255, 136, 187);
  margin-block-start: 0em;
  padding-left: 0.9em;
}
.titulo{
  padding-bottom: 0.9em;
}
.cakebook-container h2 {
  display: flex;
  color: rgb(255, 136, 187);
  font-size: 0.9em;
  justify-content: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.2em;
}

/* .cakebook-container p {
  color: #432e37;
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-right: 1.5em;
} */

.btn-delete,
.btn-edit {
  display: none;
}

.menu-nav-desktop{
  display: none;
}

.sumLikes{
  font-size: 1em;
}

.cakebook-container .btns-post{
  margin-left: -0.8em;
}

.nameUser{
  display: block;
}

@media screen and (min-width: 600px) and (max-width: 900px){
  .cakebook-container h1 {
    font-size: 2em;
  }
  .cakebook-container h2 {
    font-size: 1.1em;
  }

  .cakebook-container .myPosts{
    width: 30em;
    margin-top: 2em;
  }
  .cakebook-container .post{
    width: 30em;
  }

  .postBtn {
    font-size: 1.2em;
  }

  .cakebook-container .text-post {
    padding: 0.5rem 1.5rem;
    font-size: 1.3em;
    width: 30em;
  }

  #description{
    font-size: 1em;
  }

  .cakebook-container .imgUser {
    height: 3em;
    width: 3em;
    margin-top: 0.5em;
  }

  .modal-deletePost .modal-content {
    width: 27em;
  }
}

@media screen and (min-width: 901px){
  .container{
    display: flex;
    flex-direction: row;
    margin-top: 69.33px;
  }
  .cakebook-container .containerTimeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
    width: 55em;
  }
  .cakebook-container .myPosts, .cakebook-container .post{
    width: 35em;
  }
  .cakebook-container .post{
   padding-top: 2em;
  }
  .cakebook-container .text-post {
    padding: 0.5rem 1.5rem;
    font-size: 1.3em;
    width: 35em;
  }
  .signOut{
    font-size: 1.5em;
    margin-right: 1em;
  }

  #description{
   margin-top: 1.5em;
   margin-bottom: 2em;
  }
  .cakebook-container  .nav-posts {
    margin-bottom: 0.5;
  }
  .menu-nav-desktop{
    display: flex;
    flex-direction: column;
    width: 18em;
    color: rgb(67, 46, 55);
    justify-content: flex-start;
    margin-left: -1.5em;
    padding-top: 2em;
    border-right: 0.1em solid rgb(231, 217, 225, 0.4)
  }
  .nav-desktop li{
    list-style-type: none;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  .postBtn {
    font-size: 1.4em;
  }
  .sumLikes{
    font-size: 1.2em;
  }
  .cakebook-container .time{
    font-size: 0.8em;
  }

  .cakebook-container .btns-post{
    margin-left: -2em;
  }
  .modal-deletePost .modal-content {
    width: 27em;
  }
  .cakebook-container h1 {
    font-size: 2em; 
  }
  .cakebook-container h2 {
    font-size: 1.1em; 
  }

  i{
    color: rgb(67, 46, 55);
  }
  .cakebook-container .imgUser {
    height: 3em;
    width: 3em;
    margin-top: 0.4em;
  }
}