* {
  box-sizing: border-box;
}

.profile-container {
  display: flex;
  flex-direction: column;
  height: 100%
}


.profile-container h1 {
  display: flex;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  color: #ff88bb;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
}

.profile-container .header {
  background-color: #fdd4e5;
  position: fixed;
  width: 100%;
}

.profile-container .nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  margin-right: 0.5em;
}

.profile-container .signOut{
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.profile-container .btn-signOut{
  display: flex;
}

.profile-container .cover-profile{
  display: grid;
  place-items: center;
  background-color: #fff3f8;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

.profile-container .myPic{
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  height: 10em;
  width: 10em;
}

.profile-container h2 {
  display: flex;
  flex-direction: column;
  color: #ff88bb;
  font-size: 2em;
  align-items: center;
}

.profile-container h4 {
  display: flex;
  flex-direction: column;
  color: rgb(148, 147, 147);
  font-size: 1em;
  align-items: center;
  font-family: 'Trebuchet MS';
}

.profile-container .editProfile{
  margin-bottom: 1em;
  border-color:  #ff88bb ;
  border-radius: 0.5em;
  background-color: none;
}

.profile-container .containerProfile {
  display: grid;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5em;
}

.profile-container .myPosts{
  display: flex;
  margin-bottom: 2em;
  background-color: rgb(250, 250, 245);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.4rem;
  padding: 0.5rem 1.25rem;
  flex-direction: column;
  font-size: 1em;
}

.profile-container .text-post{
  display: flex;
  margin-bottom: 0.5em;
  background-color: rgb(250, 250, 245);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.4rem;
  padding: 0.5rem 1.25rem;
  flex-direction: column;
  font-size: 1em;
  width: 22em;
}

.header-post{
  display: flex;
}

.img-perfil{
  margin-right: 0.5em;
}

.nav-myPost{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: left;
  margin-top: 0%;
  margin-bottom: 0.5em;
  padding-left: 0;
  gap: 0.5em;
}

.postBtn{
  background: none;
  border: none;
  cursor: pointer;
}

#btn-photo{
  margin-left: 3.5em;
}

#publicar{
  margin-right: 0.5em;
}


.profile-container .friendsPosts {
  display: flex;
  /* background-color: #f5eff0; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.4rem;
  padding: 1.25rem 1.25rem;
  flex-direction: column;
  font-size: 0.9em;
}

.profile-container .friendsText {
  align-items: flex-end;
}
.profile-container .userPicBtn {
  height: 5em;
  width: 5em;
  border-radius: 6em;
  background: none;
  border: none;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.profile-container .imgUser {
  height: 2.5em;
  width: 2.5em;
}


.profile-container h3 {
  display: flex;
  color: #ff88bb;
  font-size: 0.9em;
  justify-content: center;
  padding-bottom: 0.5em;
}

.profile-container p {
  color: #432e37;
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
